# Import libraries

In [ ]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from sqlalchemy.engine import url
import glob
from sqlalchemy import create_engine
from sqlalchemy import text
from urllib.parse import quote_plus
import pandas as pd 
import numpy as np
from datetime import datetime

# Data Cleaning

In [ ]:
cup_winners=pd.read_csv('cup_winners.csv')

In [ ]:
cup_winners=cup_winners[cup_winners['win_year_to']==2022]

In [ ]:
cup_winners.shape

(25, 6)

In [ ]:
cup_winners_selected=pd.read_csv('cup_winners_selected.csv')
cup_winners_selected

,nation,club_id,club_name,cup_name,win_year_from,win_year_to
0,England,281,Manchester City,English Champion,2021,2022
1,England,281,Manchester City,English Champion,2020,2021
2,England,281,Manchester City,English Champion,2018,2019
3,England,281,Manchester City,English Champion,2017,2018
4,England,281,Manchester City,FA Cup Winner,2018,2019
...,...,...,...,...,...,...
161,Spain,368,Sevilla FC,Europa League Winner,2015,2016
162,Spain,331,CA Osasuna,Spanish 2nd tier champion,2018,2019
163,Spain,714,RCD Espanyol Barcelona,Spanish 2nd tier champion,2020,2021
164,Spain,367,Rayo Vallecano,Spanish 2nd tier champion,2017,2018
165,Spain,3302,UD Almería,Spanish 2nd tier champion,2021,2022

In [ ]:
len(cup_winners_selected['club_id'].unique())

49

In [ ]:
cup_name=cup_winners_selected['cup_name'].unique()
awards_id=[]
awards=[]

In [ ]:
for i in range(len(cup_name)):
    award=cup_name[i]
    award_id='A-'+ str(i+1)
    awards_id.append(award_id)
    awards.append(award)

In [ ]:
dic={}
dic['award_id']=awards_id
dic['cup_name']=awards
df=pd.DataFrame(data=dic)
df

   award_id                       cup_name
0       A-1               English Champion
1       A-2                  FA Cup Winner
2       A-3      English League Cup winner
3       A-4        English Supercup Winner
4       A-5        Champions League Winner
5       A-6     FIFA Club World Cup winner
6       A-7           UEFA Supercup Winner
7       A-8           Europa League Winner
8       A-9      English 2nd tier champion
9      A-10                German Champion
10     A-11             German Cup winner
11     A-12        German Super Cup Winner
12     A-13  German 2. Bundesliga Champion
13     A-14             Italian Cup winner
14     A-15               Italian Champion
15     A-16       Italian Super Cup winner
16     A-17       Conference League winner
17     A-18  Italian Lega Pro Champion (A)
18     A-19               Scudetto Serie D
19     A-20       Italian Serie B champion
20     A-21  Italian Lega Pro Champion (C)
21     A-22                French Champion
22     A-23             French Cup winner
23     A-24       French league cup winner
24     A-25         French Supercup Winner
25     A-26               Spanish Champion
26     A-27       Spanish Super Cup winner
27     A-28            Spanish Cup winner
28     A-29      Spanish 2nd tier champion

In [ ]:
merged_df=cup_winners_selected.merge(df, on='cup_name', how='left')

In [ ]:
merged_df.drop(['win_year_to'],axis=1,inplace=True)

In [ ]:
merged_df

,nation,club_id,club_name,cup_name,win_year_from,award_id
0,England,281,Manchester City,English Champion,2021,A-1
1,England,281,Manchester City,English Champion,2020,A-1
2,England,281,Manchester City,English Champion,2018,A-1
3,England,281,Manchester City,English Champion,2017,A-1
4,England,281,Manchester City,FA Cup Winner,2018,A-2
...,...,...,...,...,...,...
161,Spain,368,Sevilla FC,Europa League Winner,2015,A-8
162,Spain,331,CA Osasuna,Spanish 2nd tier champion,2018,A-29
163,Spain,714,RCD Espanyol Barcelona,Spanish 2nd tier champion,2020,A-29
164,Spain,367,Rayo Vallecano,Spanish 2nd tier champion,2017,A-29
165,Spain,3302,UD Almería,Spanish 2nd tier champion,2021,A-29

# Award Table

In [ ]:
df.head()

  award_id                   cup_name
0      A-1           English Champion
1      A-2              FA Cup Winner
2      A-3  English League Cup winner
3      A-4    English Supercup Winner
4      A-5    Champions League Winner

In [ ]:
df.shape

(29, 2)

In [ ]:
df.to_csv('Awards.csv', index=False)

# Awards_winners Table

In [ ]:
merged_df.rename(columns = {'win_year_from':'win_year'}, inplace = True)

In [ ]:
merged_df.drop(['club_name'],axis=1,inplace=True)

In [ ]:
merged_df.drop(['cup_name'],axis=1,inplace=True)

In [ ]:
merged_df.head()

    nation  club_id  win_year award_id
0  England      281      2021      A-1
1  England      281      2020      A-1
2  England      281      2018      A-1
3  England      281      2017      A-1
4  England      281      2018      A-2

In [ ]:
merged_df.shape

(166, 4)

In [ ]:
merged_df.to_csv('Awards_winners.csv', index=False)

# read all CSV files for England PriemerLeague

In [ ]:
PriemerLeague2015=pd.read_csv('PriemerLeague2015.csv')
PriemerLeague2015['Season']='2015'
PriemerLeague2016=pd.read_csv('PriemerLeague2016.csv')
PriemerLeague2016['Season']='2016'
PriemerLeague2017=pd.read_csv('PriemerLeague2017.csv')
PriemerLeague2017['Season']='2017'
PriemerLeague2018=pd.read_csv('PriemerLeague2018.csv')
PriemerLeague2018['Season']='2018'
PriemerLeague2019=pd.read_csv('PriemerLeague2019.csv')
PriemerLeague2019['Season']='2019'
PriemerLeague2020=pd.read_csv('PriemerLeague2020.csv')
PriemerLeague2020['Season']='2020'
PriemerLeague2021=pd.read_csv('PriemerLeague2021.csv')
PriemerLeague2021['Season']='2021'

In [ ]:
England=pd.concat([PriemerLeague2015,PriemerLeague2016,PriemerLeague2017,PriemerLeague2018,PriemerLeague2019,PriemerLeague2020,PriemerLeague2021],ignore_index=True)

In [ ]:
England.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
England.head()

,Club Name,League name,Average age of players,Stadium name,Coach name,Coach Date,Club Values,Season
0,Chelsea FC,Premier League,25.5,Stamford Bridge,José Mourinho,"Jul 1, 2013",€1.02bn,2015
1,Manchester City,Premier League,26.8,Etihad Stadium,Manuel Pellegrini,"Jul 1, 2013",€1.05bn,2015
2,Arsenal FC,Premier League,25.2,Emirates Stadium,Arsène Wenger,"Oct 1, 1996",€890.00m,2015
3,Manchester United,Premier League,26.0,Old Trafford,Louis van Gaal,"Jul 14, 2014",€795.70m,2015
4,Liverpool FC,Premier League,26.7,Anfield,Brendan Rodgers,"Jul 1, 2012",€879.00m,2015

In [ ]:
England.shape

(140, 8)

In [ ]:
England['Country']='England'

In [ ]:
England.isnull().sum()

Club Name                 0
League name               0
Average age of players    0
Stadium name              0
Coach name                0
Coach Date                0
Club Values               0
Season                    0
Country                   0
dtype: int64

# read all csv files for spain: Laliga

In [ ]:
laliga_2015=pd.read_csv('laliga_2015.csv')
laliga_2015['Season']='2015'
laliga_2016=pd.read_csv('laliga_2016.csv')
laliga_2016['Season']='2016'
laliga_2017=pd.read_csv('laliga_2017.csv')
laliga_2017['Season']='2017'
laliga_2018=pd.read_csv('laliga_2018.csv')
laliga_2018['Season']='2018'
laliga_2019=pd.read_csv('laliga_2019.csv')
laliga_2019['Season']='2019'
laliga_2020=pd.read_csv('laliga_2020.csv')
laliga_2020['Season']='2020'
laliga_2021=pd.read_csv('laliga_2021.csv')
laliga_2021['Season']='2021'

In [ ]:
laliga_2015.shape

(20, 9)

In [ ]:
Spain=pd.concat([laliga_2015,laliga_2016,laliga_2017,laliga_2018,laliga_2019,laliga_2020,laliga_2021])

In [ ]:
Spain.shape

(140, 9)

In [ ]:
Spain.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
Spain['Country']='Spain'

In [ ]:
Spain.head()

,Club Name,League name,Average age of players,Stadium name,Coach name,Coach Date,Club Values,Season,Country
0,Real Madrid,LaLiga,27.4,Santiago Bernabéu,Zinédine Zidane,"Jan 4, 2016",€860.80m,2015,Spain
1,FC Barcelona,LaLiga,25.5,Spotify Camp Nou,Luis Enrique,"Jul 1, 2014",€767.00m,2015,Spain
2,Atlético de Madrid,LaLiga,28.5,Civitas Metropolitano,Diego Simeone,"Dec 23, 2011",€457.00m,2015,Spain
3,Sevilla FC,LaLiga,28.8,Ramón Sánchez-Pizjuán,Jorge Sampaoli,"Jul 1, 2016",€209.00m,2015,Spain
4,Valencia CF,LaLiga,25.0,Mestalla,Pako Ayestarán,"Mar 30, 2016",€225.65m,2015,Spain

In [ ]:
Spain.isnull().sum()

Club Name                 0
League name               0
Average age of players    0
Stadium name              0
Coach name                0
Coach Date                0
Club Values               0
Season                    0
Country                   0
dtype: int64

# Germany

In [ ]:
Bundesliga_2015=pd.read_csv('Bundesliga_2015.csv')
Bundesliga_2015['Season']='2015'
Bundesliga_2016=pd.read_csv('Bundesliga_2016.csv')
Bundesliga_2016['Season']='2016'
Bundesliga_2017=pd.read_csv('Bundesliga_2017.csv')
Bundesliga_2017['Season']='2017'
Bundesliga_2018=pd.read_csv('Bundesliga_2018.csv')
Bundesliga_2018['Season']='2018'
Bundesliga_2019=pd.read_csv('Bundesliga_2019.csv')
Bundesliga_2019['Season']='2019'
Bundesliga_2020=pd.read_csv('Bundesliga_2020.csv')
Bundesliga_2020['Season']='2020'
Bundesliga_2021=pd.read_csv('Bundesliga_2021.csv')
Bundesliga_2021['Season']='2021'

In [ ]:
Bundesliga_2015.shape

(18, 9)

In [ ]:
Germany=pd.concat([Bundesliga_2015,Bundesliga_2016,Bundesliga_2017,Bundesliga_2018,Bundesliga_2019,Bundesliga_2020,Bundesliga_2021])

In [ ]:
Germany.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
Germany['Country']='Germany'

In [ ]:
Germany.head()

,Club Name,League name,Average age of players,Stadium name,Coach name,Coach Date,Club Values,Season,Country
0,Bayern Munich,Bundesliga,26.5,Allianz Arena,Pep Guardiola,"Jul 1, 2013",€979.70m,2015,Germany
1,Borussia Dortmund,Bundesliga,24.6,SIGNAL IDUNA PARK,Thomas Tuchel,"Jul 1, 2015",€547.70m,2015,Germany
2,VfL Wolfsburg,Bundesliga,24.6,Volkswagen Arena,Dieter Hecking,"Jan 1, 2013",€200.70m,2015,Germany
3,Bayer 04 Leverkusen,Bundesliga,24.9,BayArena,Roger Schmidt,"Jul 1, 2014",€421.85m,2015,Germany
4,FC Schalke 04,Bundesliga,27.3,Veltins-Arena,André Breitenreiter,"Jul 1, 2015",€60.40m,2015,Germany

In [ ]:
Germany.isnull().sum()

Club Name                 0
League name               0
Average age of players    0
Stadium name              0
Coach name                0
Coach Date                0
Club Values               0
Season                    0
Country                   0
dtype: int64

# France

In [ ]:
Ligue1_2015=pd.read_csv('Ligue1_2015.csv')
Ligue1_2015['Season']='2015'
Ligue1_2016=pd.read_csv('Ligue1_2016.csv')
Ligue1_2016['Season']='2016'
Ligue1_2017=pd.read_csv('Ligue1_2017.csv')
Ligue1_2017['Season']='2017'
Ligue1_2018=pd.read_csv('Ligue1_2018.csv')
Ligue1_2018['Season']='2018'
Ligue1_2019=pd.read_csv('Ligue1_2019.csv')
Ligue1_2019['Season']='2019'
Ligue1_2020=pd.read_csv('Ligue1_2020.csv')
Ligue1_2020['Season']='2020'
Ligue1_2021=pd.read_csv('Ligue1_2021.csv')
Ligue1_2021['Season']='2021'

In [ ]:
Ligue1_2015['Club Values'].loc[19]='€18.40m'

<ipython-input-27-74046bd9dc2d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ligue1_2015['Club Values'].loc[19]='€18.40m'

In [ ]:
France=pd.concat([Ligue1_2015,Ligue1_2016,Ligue1_2017,Ligue1_2018,Ligue1_2019,Ligue1_2020,Ligue1_2021])

In [ ]:
France.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
France.shape

(140, 8)

In [ ]:
France['Country']='France'

In [ ]:
France.isnull().sum()

Club Name                 0
League name               0
Average age of players    0
Stadium name              0
Coach name                0
Coach Date                0
Club Values               0
Season                    0
Country                   0
dtype: int64

In [ ]:
France.head()

,Club Name,League name,Average age of players,Stadium name,Coach name,Coach Date,Club Values,Season,Country
0,Paris Saint-Germain,Ligue 1,25.1,Parc des Princes,Laurent Blanc,"Jun 25, 2013",€882.55m,2015,France
1,AS Monaco,Ligue 1,24.3,Stade Louis-II,Leonardo Jardim,"Jul 1, 2014",€324.20m,2015,France
2,Olympique Lyon,Ligue 1,25.2,Groupama Stadium,Hubert Fournier,"Jul 1, 2014",€231.80m,2015,France
3,Olympique Marseille,Ligue 1,26.7,Orange Vélodrome,Marcelo Bielsa,"Jul 1, 2014",€259.20m,2015,France
4,AS Saint-Étienne,Ligue 2,25.1,Stade Geoffroy-Guichard,Christophe Galtier,"Dec 16, 2009",€39.00m,2015,France

#Italy

In [ ]:
SeriaA_2015=pd.read_csv('SeriaA_2015.csv')
SeriaA_2015['Season']='2015'
SeriaA_2016=pd.read_csv('SeriaA_2016.csv')
SeriaA_2016['Season']='2016'
SeriaA_2017=pd.read_csv('SeriaA_2017.csv')
SeriaA_2017['Season']='2017'
SeriaA_2018=pd.read_csv('SeriaA_2018.csv')
SeriaA_2018['Season']='2018'
SeriaA_2019=pd.read_csv('SeriaA_2019.csv')
SeriaA_2019['Season']='2019'
SeriaA_2020=pd.read_csv('SeriaA_2020.csv')
SeriaA_2020['Season']='2020'
SeriaA_2021=pd.read_csv('SeriaA_2021.csv')
SeriaA_2021['Season']='2021'

In [ ]:
Italy=pd.concat([SeriaA_2015,SeriaA_2016,SeriaA_2017,SeriaA_2018,SeriaA_2019,SeriaA_2020,SeriaA_2021],ignore_index=True)

In [ ]:
Italy.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
Italy['Country']='Italy'

In [ ]:
Italy['Club Values'].loc[17]='€49.78m'

<ipython-input-38-8c69c123d789>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Italy['Club Values'].loc[17]='€49.78m'

In [ ]:
Italy.head(10)

,Club Name,League name,Average age of players,Stadium name,Coach name,Coach Date,Club Values,Season,Country
0,Juventus FC,Serie A,27.0,Allianz Stadium,Massimiliano Allegri,"Jul 16, 2014",€420.70m,2015,Italy
1,AS Roma,Serie A,26.2,Olimpico di Roma,Rudi Garcia,"Jul 1, 2013",€317.15m,2015,Italy
2,SSC Napoli,Serie A,26.2,Stadio Diego Armando Maradona,Maurizio Sarri,"Jun 11, 2015",€629.00m,2015,Italy
3,Inter Milan,Serie A,28.5,Giuseppe Meazza,Roberto Mancini,"Nov 14, 2014",€534.45m,2015,Italy
4,AC Milan,Serie A,27.0,Giuseppe Meazza,Siniša Mihajlović,"Jun 16, 2015",€547.25m,2015,Italy
5,ACF Fiorentina,Serie A,26.5,Artemio Franchi,Paulo Sousa,"Jun 21, 2015",€236.30m,2015,Italy
6,SS Lazio,Serie A,27.2,Olimpico di Roma,Stefano Pioli,"Jul 1, 2014",€274.15m,2015,Italy
7,UC Sampdoria,Serie A,26.6,Luigi Ferraris,Walter Zenga,"Jun 11, 2015",€71.45m,2015,Italy
8,Genoa CFC,Serie B,26.4,Luigi Ferraris,Gian Piero Gasperini,"Sep 29, 2013",€52.55m,2015,Italy
9,US Sassuolo,Serie A,25.9,Mapei Stadium - Città del Tricolore,Eusebio Di Francesco,"Mar 3, 2014",€171.40m,2015,Italy

In [ ]:
Italy['Club Name'].unique()

array(['Juventus FC', 'AS Roma', 'SSC Napoli', 'Inter Milan', 'AC Milan',
       'ACF Fiorentina', 'SS Lazio', 'UC Sampdoria', 'Genoa CFC',
       'US Sassuolo', 'Udinese Calcio', 'Torino FC', 'Atalanta BC',
       'Bologna FC 1909', 'FC Empoli', 'Palermo FC', 'AC Carpi',
       'Chievo Verona', 'Hellas Verona', 'Frosinone Calcio',
       'Cagliari Calcio', 'Delfino Pescara 1936', 'FC Crotone', 'SPAL',
       'Benevento Calcio', 'Parma Calcio 1913', 'Brescia Calcio',
       'US Lecce', 'Spezia Calcio', 'Venezia FC', 'US Salernitana 1919'],
      dtype=object)

In [ ]:
Italy.isnull().sum()

Club Name                 0
League name               4
Average age of players    4
Stadium name              0
Coach name                0
Coach Date                0
Club Values               3
Season                    0
Country                   0
dtype: int64

In [ ]:
Clubs_df=pd.concat([Spain,England,Germany,France,Italy],ignore_index=True)

In [ ]:
Clubs_df.shape

(686, 9)

In [ ]:
Clubs_df.rename(columns = {'Club Values':'Total market value','Coach Date':'Appointed Date'}, inplace = True)

In [ ]:
Clubs_df['Appointed Date'] = Clubs_df['Appointed Date'].astype('datetime64[ns]')

In [ ]:
Clubs_df['Total market value']=Clubs_df['Total market value'].str.replace('€','')

In [ ]:
Clubs_df.head()

,Club Name,League name,Average age of players,Stadium name,Coach name,Appointed Date,Total market value,Season,Country
0,Real Madrid,LaLiga,27.4,Santiago Bernabéu,Zinédine Zidane,2016-01-04,860.80m,2015,Spain
1,FC Barcelona,LaLiga,25.5,Spotify Camp Nou,Luis Enrique,2014-07-01,767.00m,2015,Spain
2,Atlético de Madrid,LaLiga,28.5,Civitas Metropolitano,Diego Simeone,2011-12-23,457.00m,2015,Spain
3,Sevilla FC,LaLiga,28.8,Ramón Sánchez-Pizjuán,Jorge Sampaoli,2016-07-01,209.00m,2015,Spain
4,Valencia CF,LaLiga,25.0,Mestalla,Pako Ayestarán,2016-03-30,225.65m,2015,Spain

In [ ]:
Clubs_df.to_csv('Clubs_df.csv', index=False)

In [ ]:
Clubs_df.shape

(686, 9)

In [ ]:
balance=pd.read_csv('over_all_balance.csv')

In [ ]:
balance.rename(columns = {'Club':'Club Name'}, inplace = True)

In [ ]:
balance.shape

(686, 10)

In [ ]:
len(balance['link'].unique())

686

In [ ]:
len(balance['id'].unique())

147

In [ ]:
balance.head()

,Club Name,id,Country,link,Season,income,expend,overall_balance,income_arrival,expend_arrival
0,Chelsea FC,631,England,https://www.transfermarkt.com/fc-chelsea/start...,2015,€87.49m,€96.50m,€-9.01m,32,37
1,Manchester City,281,England,https://www.transfermarkt.com/manchester-city/...,2015,€67.44m,€208.47m,€-141.03m,23,20
2,Arsenal FC,11,England,https://www.transfermarkt.com/fc-arsenal/start...,2015,€2.50m,€26.50m,€-24.00m,11,13
3,Manchester United,985,England,https://www.transfermarkt.com/manchester-unite...,2015,€100.67m,€156.00m,€-55.33m,20,22
4,Liverpool FC,31,England,https://www.transfermarkt.com/fc-liverpool/sta...,2015,€90.55m,€126.50m,€-35.95m,24,23

In [ ]:
balance['Season']=balance['Season'].astype(str)

In [ ]:
Clubs_df['Season']=Clubs_df['Season'].astype(str)

In [ ]:
Clubs_df.isnull().sum()

Club Name                 0
League name               4
Average age of players    4
Stadium name              0
Coach name                0
Appointed Date            0
Total market value        3
Season                    0
Country                   0
dtype: int64

In [ ]:
balance.isnull().sum()

Club Name          0
id                 0
Country            0
link               0
Season             0
income             0
expend             0
overall_balance    0
income_arrival     0
expend_arrival     0
dtype: int64

In [ ]:
len(Clubs_df['Stadium name'].unique())

143

In [ ]:
merged=balance.merge(Clubs_df,on=['Season','Club Name'],how='left')

In [ ]:
merged.drop(['Country_x','link','Club Name','Country_y'],axis=1,inplace=True)

In [ ]:
merged['expend']=merged['expend'].str.replace('€','') 
merged['income']=merged['income'].str.replace('€','') 
merged['overall_balance']=merged['overall_balance'].str.replace('€','')

In [ ]:
merged.shape

(686, 13)

In [ ]:
merged.isnull().sum()

id                         0
Season                     0
income                     0
expend                     0
overall_balance            0
income_arrival             0
expend_arrival             0
League name               14
Average age of players    14
Stadium name              10
Coach name                10
Appointed Date            10
Total market value        13
dtype: int64

In [ ]:
merged.head()

,id,Season,income,expend,overall_balance,income_arrival,expend_arrival,League name,Average age of players,Stadium name,Coach name,Appointed Date,Total market value
0,631,2015,87.49m,96.50m,-9.01m,32,37,Premier League,25.5,Stamford Bridge,José Mourinho,2013-07-01,1.02bn
1,281,2015,67.44m,208.47m,-141.03m,23,20,Premier League,26.8,Etihad Stadium,Manuel Pellegrini,2013-07-01,1.05bn
2,11,2015,2.50m,26.50m,-24.00m,11,13,Premier League,25.2,Emirates Stadium,Arsène Wenger,1996-10-01,890.00m
3,985,2015,100.67m,156.00m,-55.33m,20,22,Premier League,26.0,Old Trafford,Louis van Gaal,2014-07-14,795.70m
4,31,2015,90.55m,126.50m,-35.95m,24,23,Premier League,26.7,Anfield,Brendan Rodgers,2012-07-01,879.00m

In [ ]:
merged.shape

(686, 13)

# Ctreating final dataframe according to dabase

# Club DataFrame

include columns:
1. id
2. name
3. Country

In [ ]:
club_table=pd.read_csv('Club_table.csv')

In [ ]:
club_table.rename(columns = {'Club':'Club Name'}, inplace = True)

In [ ]:
club_table.head()

    id               Club  Country
0  631         Chelsea FC  England
1  281    Manchester City  England
2   11         Arsenal FC  England
3  985  Manchester United  England
4   31       Liverpool FC  England

In [ ]:
club_table.isnull().sum()

id           0
Club Name    0
Country      0
dtype: int64

#Coach Table

In [ ]:
Coach_table=pd.DataFrame()
Coach_table['Club Name']=Clubs_df['Club Name']
Coach_table['Coach name']=Clubs_df['Coach name']
Coach_table['Appointed Date']=Clubs_df['Appointed Date']
Coach_table=Coach_table.drop_duplicates(keep='last')

In [ ]:
coach_df=Coach_table.merge(club_table,on='Club Name',how='left')

In [ ]:
index=coach_df[coach_df['Club Name']=='AC Carpi'].index.tolist()
coach_df.drop(index,axis=0,inplace=True)

In [ ]:
index=coach_df[coach_df['Club Name']=='Palermo FC'].index.tolist()
coach_df.drop(index,axis=0,inplace=True)

In [ ]:
coach_df.isnull().sum()

Club Name         0
Coach name        0
Appointed Date    0
id                0
Country           0
dtype: int64

In [ ]:
coach_df.drop(['Club Name','Country'],axis=1,inplace=True)

In [ ]:
coach_df.head()

         Coach name Appointed Date      id
0      Luis Enrique     2014-07-01   131.0
1    Jorge Sampaoli     2016-07-01   368.0
2    Pako Ayestarán     2016-03-30  1049.0
3         Marcelino     2013-01-15  1050.0
4  Ernesto Valverde     2013-07-01   621.0

In [ ]:
coach_df.shape

(415, 3)

In [ ]:
coach_df.to_csv('coach_df.csv', index=False)

#Stadium

In [ ]:
len(Clubs_df['Stadium name'].unique())

143

In [ ]:
Clubs_df.columns

Index(['Club Name', 'League name', 'Average age of players', 'Stadium name',
       'Coach name', 'Appointed Date', 'Total market value', 'Season',
       'Country'],
      dtype='object')

In [ ]:
len(merged['Stadium name'].unique())

142

In [ ]:
Stadium_df=pd.DataFrame()
Stadium_df['Club Name']=Clubs_df['Club Name']
Stadium_df['Stadium name']=Clubs_df['Stadium name']
Stadium_df=Stadium_df.drop_duplicates(keep='last')

In [ ]:
Stadium_df.shape

(147, 2)

In [ ]:
Stadium_table=Stadium_df.merge(club_table,on='Club Name',how='left')

In [ ]:
Stadium_table.drop(['Country','Club Name'],axis=1,inplace=True)

In [ ]:
Stadium_table.rename(columns = {'id':'Club_id'} , inplace = True)

In [ ]:
Stadium_table.head()

                        Stadium name  Club_id
0  El Molinón - Enrique Castro Quini   2448.0
1            Estadio de Gran Canaria    472.0
2                      Abanca Riazor    897.0
3                        La Rosaleda   1084.0
4                          Montilivi  12321.0

In [ ]:
Stadium_table.shape

(147, 2)

In [ ]:
Stadium_table.isnull().sum()

Stadium name    0
Club_id         2
dtype: int64

In [ ]:
index=Stadium_table[Stadium_table['Club_id'].isnull()].index.tolist()

In [ ]:
Stadium_table.drop(index,axis=0,inplace=True)

In [ ]:
Stadium_table.isnull().sum()

Stadium name    0
Club_id         0
dtype: int64

In [ ]:
Stadium_table.shape

(145, 2)

In [ ]:
Stadium_table.to_csv('Stadium_table.csv', index=False)

#Club statistics

we should have table named club include this columns:
1. id
2. Market_value
5. Income
6. Expenditure
7. Overall_balance
8. Total market value
9. Coach name
10. Appointed Date
11. Stadium name
12. Average age of players
13. season
14. Arrivals
15. DEPARTURES

In [ ]:
merged.rename(columns = {'income_arrival':'ARRIVALS','expend_arrival':'DEPARTURES'} , inplace = True)

In [ ]:
merged['Total market value']=merged['Total market value'].astype(str)

In [ ]:
for i in range(len(merged['expend'])):
  
  if 'm' in merged['expend'][i]:
    merged['expend'][i]=float(merged['expend'][i].replace('m',''))*1000000
     
    
  elif 'k' in merged['expend'][i]:
    merged['expend'][i]=float(merged['expend'][i].replace('k',''))*1000
  else:
    merged['expend'][i]=float(merged['expend'][i])

<ipython-input-144-ef5f4726cdad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['expend'][i]=float(merged['expend'][i].replace('m',''))*1000000
<ipython-input-144-ef5f4726cdad>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['expend'][i]=float(merged['expend'][i])
<ipython-input-144-ef5f4726cdad>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['expend'][i]=float(merged['expend'][i].replace('k',''))*1000

In [ ]:
for i in range(len(merged['Total market value'])):
  
  if 'm' in merged['Total market value'][i]:
    merged['Total market value'][i]=float(merged['Total market value'][i].replace('m',''))*1000000

  elif 'bn' in merged['Total market value'][i]:
 
    merged['Total market value'][i]=float(merged['Total market value'][i].replace('bn',''))*1000000000
  else:

    merged['Total market value'][i]=float(merged['Total market value'][i])

<ipython-input-145-af0021b8fd5e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Total market value'][i]=float(merged['Total market value'][i].replace('bn',''))*1000000000
<ipython-input-145-af0021b8fd5e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Total market value'][i]=float(merged['Total market value'][i].replace('m',''))*1000000
<ipython-input-145-af0021b8fd5e>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Total market value'][i]=float(merged['Total market value'][i])

In [ ]:
merged['income']=merged['income'].apply(lambda x: float(x[:-1]) * 1000000 if 'm' in x else float(x[:-2]) * 1000000000 if 'bn' in x else float(x[:-1]) * 1000 if x.endswith('k') else float(x))

In [ ]:
for i in range(len(merged['overall_balance'])):
  sign=merged['overall_balance'][i][0]
  if 'm' in merged['overall_balance'][i]:
    if sign=='-':
        merged['overall_balance'][i]=float(merged['overall_balance'][i][1:].replace('m',''))*1000000 *-1
    else:
        merged['overall_balance'][i]=float(merged['overall_balance'][i][1:].replace('m',''))*1000000
  elif 'k' in merged['overall_balance'][i]:
    if sign=='-':
        merged['overall_balance'][i]=float(merged['overall_balance'][i][1:].replace('k',''))*1000 *-1
    else:
        merged['overall_balance'][i]=float(merged['overall_balance'][i][1:].replace('k',''))*1000
 
  else:
      merged['overall_balance'][i]=float(merged['overall_balance'][i][1:])

<ipython-input-147-340c108c49ee>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['overall_balance'][i]=float(merged['overall_balance'][i][1:].replace('m',''))*1000000 *-1
<ipython-input-147-340c108c49ee>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['overall_balance'][i]=float(merged['overall_balance'][i][1:].replace('m',''))*1000000
<ipython-input-147-340c108c49ee>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['overall_balance'][i]=float(merged['overall_balance'][i][1:])
<ipython-input-147-340c108c49ee>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['overall_balance'][i]=float(merged['overall_balance'][i][1:].replace('k',''))*1000 *-1
<ipython-input-147-340c108c49ee>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['overall_balance'][i]=float(merged['overall_balance'][i][1:].replace('k',''))*1000

In [ ]:
merged['Season']=merged['Season'].astype('int')

In [ ]:
merged.drop(['Coach name','Appointed Date'],axis=1,inplace=True)

In [ ]:
merged.drop(['Stadium name'],axis=1,inplace=True)

In [ ]:
merged.head()

,id,Season,income,expend,overall_balance,ARRIVALS,DEPARTURES,League name,Average age of players,Total market value
0,631,2015,87490000.0,96500000.0,-9010000.0,32,37,Premier League,25.5,1020000000.0
1,281,2015,67440000.0,208470000.0,-141030000.0,23,20,Premier League,26.8,1050000000.0
2,11,2015,2500000.0,26500000.0,-24000000.0,11,13,Premier League,25.2,890000000.0
3,985,2015,100670000.0,156000000.0,-55330000.0,20,22,Premier League,26.0,795700000.0
4,31,2015,90550000.0,126500000.0,-35950000.0,24,23,Premier League,26.7,879000000.0

In [ ]:
len(merged['id'].unique())

147

In [ ]:
merged.to_csv('Clubs_stats.csv', index=False)

# Player table

In [ ]:
players=pd.read_csv('test_player_table V2.csv')

In [ ]:
players.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
players.columns

Index(['player_id', 'name', 'birth_date', 'height', 'current_international',
       'main_position', 'foot', 'current_club', 'goals_scored',
       'goals_assisted', 'goals_conceded', 'clean_sheets', 'total_appearence',
       'agent'],
      dtype='object')

In [ ]:
players.shape

(30, 14)

In [ ]:
players['birth_date']=players['birth_date'].str.replace('[','').str.replace(']','').str.replace("'","").str.replace(', Happy, Birthday','')

<ipython-input-206-c83df1101d84>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  players['birth_date']=players['birth_date'].str.replace('[','').str.replace(']','').str.replace("'","").str.replace(', Happy, Birthday','')

In [ ]:
players['birth_date']=players['birth_date'].astype('datetime64[ns]')

In [ ]:
players.head()

,player_id,name,birth_date,height,current_international,main_position,foot,current_club,goals_scored,goals_assisted,goals_conceded,clean_sheets,total_appearence,agent
0,238223,Ederson,1993-08-17,188.0,Brazil,Goalkeeper,left,Man City,-,-,341.0,192.0,413,Gestifute
1,221624,Zack Steffen,1995-04-02,191.0,United States,Goalkeeper,right,Middlesbrough,-,-,254.0,51.0,191,Wasserman
2,14555,Scott Carson,1985-09-03,188.0,England,Goalkeeper,right,Man City,-,4,661.0,153.0,522,Wasserman
3,621997,Cieran Slicker,2002-09-15,NaN,Scotland,Goalkeeper,NaN,Man City U21,-,1,83.0,18.0,59,Unique Sports Group
4,258004,Rúben Dias,1997-05-14,187.0,Portugal,Defender Centre Back,right,Man City,16,13,NaN,NaN,337,Gestifute

In [ ]:
index=players[players['main_position']!='Goalkeeper']['goals_conceded'].index
players['goals_conceded'].loc[index]=players['goals_conceded'].loc[index].replace(np.nan,'-')

<ipython-input-209-9f983482473b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players['goals_conceded'].loc[index]=players['goals_conceded'].loc[index].replace(np.nan,'-')

In [ ]:
players['clean_sheets'].loc[index]=players['clean_sheets'].loc[index].replace(np.nan,'-')

<ipython-input-210-41555362beed>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players['clean_sheets'].loc[index]=players['clean_sheets'].loc[index].replace(np.nan,'-')

In [ ]:
players.head()

,player_id,name,birth_date,height,current_international,main_position,foot,current_club,goals_scored,goals_assisted,goals_conceded,clean_sheets,total_appearence,agent
0,238223,Ederson,1993-08-17,188.0,Brazil,Goalkeeper,left,Man City,-,-,341.0,192.0,413,Gestifute
1,221624,Zack Steffen,1995-04-02,191.0,United States,Goalkeeper,right,Middlesbrough,-,-,254.0,51.0,191,Wasserman
2,14555,Scott Carson,1985-09-03,188.0,England,Goalkeeper,right,Man City,-,4,661.0,153.0,522,Wasserman
3,621997,Cieran Slicker,2002-09-15,NaN,Scotland,Goalkeeper,NaN,Man City U21,-,1,83.0,18.0,59,Unique Sports Group
4,258004,Rúben Dias,1997-05-14,187.0,Portugal,Defender Centre Back,right,Man City,16,13,-,-,337,Gestifute

In [ ]:
len(players['player_id'].unique())

30

In [ ]:
players.columns

Index(['player_id', 'name', 'birth_date', 'height', 'current_international',
       'main_position', 'foot', 'current_club', 'goals_scored',
       'goals_assisted', 'goals_conceded', 'clean_sheets', 'total_appearence',
       'agent'],
      dtype='object')

In [ ]:
players.isnull().sum()

player_id                0
name                     0
birth_date               0
height                   1
current_international    0
main_position            0
foot                     1
current_club             0
goals_scored             0
goals_assisted           0
goals_conceded           0
clean_sheets             0
total_appearence         0
agent                    4
dtype: int64

In [ ]:
players.to_csv('players.csv',index=False)

# player_statistics table

In [ ]:
palyers_statistic=pd.read_csv('test_statistics_table.csv')

In [ ]:
palyers_statistic.shape

(4209, 21)

In [ ]:
palyers_statistic.columns

Index(['Unnamed: 0', 'player_id', 'Season', 'Competition', 'Club', 'Squad',
       'Appearances', 'PPG', 'Goals', 'Own goals', 'Substitutions on',
       'Substitutions off', 'Yellow cards', 'Second yellow cards', 'Red cards',
       'Goals conceded', 'Clean sheets', 'Minutes played', 'Assists',
       'Penalty goals', 'Minutes per goal'],
      dtype='object')

In [ ]:
palyers_statistic.drop(['Unnamed: 0'],axis=1,inplace=True)

In [7]:
# transforming '16/17' to '2016'
def year_transformer(raw_year):
    year = raw_year.split('/')[0]
    if len(year) == 2:
        if int(year) <=22:
            return '20' + year
        else:
            return '19' + year
    elif len(year) == 4:
        return year

In [ ]:
palyers_statistic['Season']=palyers_statistic['Season'].apply(lambda x:year_transformer(x) )

In [ ]:
palyers_statistic.tail()

,player_id,Season,Competition,Club,Squad,Appearances,PPG,Goals,Own goals,Substitutions on,Substitutions off,Yellow cards,Second yellow cards,Red cards,Goals conceded,Clean sheets,Minutes played,Assists,Penalty goals,Minutes per goal
4204,138787,2018,NL South Play-offs,Woking FC,2,2,3.00,-,-,-,-,1,-,-,NaN,NaN,180',-,-,-
4205,138787,2018,National League South,Woking FC,1,1,1.00,1,-,-,-,-,-,-,NaN,NaN,90',-,-,90'
4206,138787,2018,FA Cup,Woking FC,3,3,2.00,-,-,-,-,-,-,-,NaN,NaN,270',1,-,-
4207,138787,2011,FA Cup,Salisbury City (- 2014),4,1,3.00,-,-,1,-,-,-,-,NaN,NaN,34',-,-,-
4208,138787,2009,League Two,Aldershot Town,1,-,-,-,-,-,-,-,-,-,NaN,NaN,-,-,-,-

# Transfer Table

In [2]:
import pandas as pd

In [74]:
transfers=pd.read_csv('test_trasnfer_table V2.csv')

In [75]:
transfers.shape

(220, 8)

In [76]:
transfers['Season']=transfers['Season'].apply(lambda x:year_transformer(x) )

In [77]:
transfers.drop(['Unnamed: 0'],axis=1,inplace=True)

In [78]:
transfers['Fee']=transfers['Fee'].replace('freetransfer','free transfer')

In [79]:
transfers['Fee']=transfers['Fee'].replace('Endofloan','End of loan')

In [80]:
transfers['Fee']=transfers['Fee'].replace('loantransfer','loan transfer')

In [81]:
transfers.isnull().sum()

player_id    0
Season       0
Date         0
Left         0
Joined       0
MV           0
Fee          0
dtype: int64

In [82]:
def change_date(date):
  date=date[:3]+','+date[3:]
  return date

In [83]:
transfers['MV']=transfers['MV'].str.replace('€','')

In [84]:
transfers['MV']=transfers['MV'].apply(lambda x: float(x[:-1]) * 1000000 if 'm' in x else float(x[:-2]) * 1000000000 if 'bn' in x else float(x[:-1]) * 1000 if x.endswith('k') else x)

In [85]:
transfers['Date']=transfers['Date'].apply(lambda x: change_date(x))

In [86]:
transfers.rename(columns={'Fee':'Transfer_Fee'},inplace=True)

In [87]:
transfers['Transfer_Fee']=transfers['Transfer_Fee'].str.replace('€','')

In [88]:
transfers['Transfer_Fee']=transfers['Transfer_Fee'].str.replace('?','-')

<ipython-input-88-5abf76b62e34>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  transfers['Transfer_Fee']=transfers['Transfer_Fee'].str.replace('?','-')

In [89]:
index=transfers[transfers['Transfer_Fee'].str.contains('Loanfee')].index
transfers['Loan_Fee']=transfers['Transfer_Fee'].apply(lambda x:x.split(':')[1] if 'Loanfee' in x else x if 'loan' in x else '-')

In [90]:
transfers['Transfer_Fee']=transfers['Transfer_Fee'].apply(lambda x: '-' if ('Loan' in x or 'loan' in x) else x )

In [91]:
transfers['Transfer_Fee']=transfers['Transfer_Fee'].apply(lambda x: float(x[:-1]) * 1000000 if 'm' in x else float(x[:-2]) * 1000000000 if 'bn' in x else float(x[:-1]) * 1000 if x.endswith('k') else x)

In [93]:
transfers['Loan_Fee']=transfers['Loan_Fee'].apply(lambda x: float(x[:-1]) * 1000000 if 'm' in x else float(x[:-2]) * 1000000000 if 'bn' in x else float(x[:-1]) * 1000 if x.endswith('k') else x)

In [101]:
transfers['Date']=pd.to_datetime(transfers['Date'], format='%b,%d,%Y')

In [102]:
transfers.head()

,player_id,Season,Date,Left,Joined,MV,Transfer_Fee,Loan_Fee
0,238223,2017,2017-07-01,Benfica,ManCity,22000000.0,40000000.0,-
1,238223,2015,2015-07-01,RioAveFC,Benfica,1200000.0,500000.0,-
2,238223,2012,2012-07-01,GDRibeirão,RioAveFC,-,free transfer,-
3,238223,2011,2011-07-01,BenficaU19,GDRibeirão,-,free transfer,-
4,238223,2010,2010-07-01,BenficaU17,BenficaU19,-,-,-