# Club ID

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [3]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.93 Safari/537.36',
           "Accept-Language": "en-US,en;q=0.5"}

In [6]:
links=[]
clubs=[]
ids=[]
years=np.arange(2015,2022) 
url_england='https://www.transfermarkt.com/premier-league/startseite/wettbewerb/GB1'

for year in years:
    
    url=url_england +'/plus/?saison_id='+str(year)
    main_page=requests.get(url,headers=headers)
    soup = BeautifulSoup(main_page.content, 'html.parser')
    table=soup.find('table',attrs={'class':'items'})
    trs=table.find_all('tr') 
    for tr in trs[2:]:
        td=tr.find('td',attrs={'class':'hauptlink no-border-links'}).find('a', href=True)
        link='https://www.transfermarkt.com'+ td['href']
        name=td['title']
        links.append(link)  
        id=link.split('https://www.transfermarkt.com/')[1].split('/')[3] 
        if name not in clubs:
            clubs.append(name)
            ids.append(id)

In [7]:
clubs_id={}
clubs_id['Club']=clubs
clubs_id['id']=ids
df=pd.DataFrame(data=clubs_id) 
df.shape

(31, 2)

In [8]:
df.head()

                Club   id
0         Chelsea FC  631
1    Manchester City  281
2         Arsenal FC   11
3  Manchester United  985
4       Liverpool FC   31

# Income

In [11]:
links[0]

'https://www.transfermarkt.com/fc-chelsea/startseite/verein/631/saison_id/2015'

In [14]:
main_page=requests.get(links[0],headers=headers)
soup = BeautifulSoup(main_page.content, 'html.parser')
transfer_record_box=soup.find_all('div', attrs={'data-viewport':'Transferbilanz'})[0]

In [22]:
income_td=transfer_record_box.find('table').find('tbody').find('tr',attrs={'class':'transfer-record__revenue'})

In [24]:
income_arrival=income_td.find('td',attrs={'class':'zentriert test-class transfer-record__text'}).text
income_arrival

'32'

In [30]:
income=income_td.find('td',attrs={'class':'transfer-record__total transfer-record__total--positive'}).text.split('\n')[1]
income

'€87.49m '

In [34]:
expend_td=transfer_record_box.find('table').find('tbody').find('tr',attrs={'class':'transfer-record__expenses'})
expend_arrival=expend_td.find('td',attrs={'class':'zentriert transfer-record__text'}).text
expend_arrival

'37'

In [36]:
expend=expend_td.find('td',attrs={'class':'transfer-record__total transfer-record__total--negative'}).text.split('\n')[1]
expend

'€96.50m '

In [50]:
overall_td=transfer_record_box.find('table').find('tfoot').find('tr').find('td',attrs={'class':'redtext rechts transfer-record__total'}).text.split('\n')[1]
overall_td

'€-9.01m '

# Coach Information

In [65]:
box=soup.find_all('div', attrs={'data-viewport':'Mitarbeiter_Historie'})[0] 
name=box.find('ul').find('li').find('div',attrs={'class':'container-main'}).find('a').text 
date=box.find('ul').find('li').find('div',attrs={'class':'container-tenure'}).text
start_date=date.split('\xa0–\xa0')[0].rstrip().lstrip()
end_date=date.split('\xa0–\xa0')[1].rstrip().lstrip()

In [66]:
start_date

'Jul 1, 2013'

In [67]:
end_date

'Dec 17, 2015'

# Loop

In [108]:
links=[]
clubs=[]
ids=[]
seasons=[]
income_arrivals=[]
incomes=[]
overall_balance=[]
expend_arrivals=[]
expends=[]
years=np.arange(2015,2022) 
url_england='https://www.transfermarkt.com/premier-league/startseite/wettbewerb/GB1'

for year in years:
  
    url=url_england +'/plus/?saison_id='+str(year)
    main_page=requests.get(url,headers=headers)
    soup = BeautifulSoup(main_page.content, 'html.parser') 
    table=soup.find('table',attrs={'class':'items'})
    trs=table.find_all('tr') 
    for tr in trs[2:]:
        td=tr.find('td',attrs={'class':'hauptlink no-border-links'}).find('a', href=True)
        link='https://www.transfermarkt.com'+ td['href']
        name=td['title']
        links.append(link)  
        id=link.split('https://www.transfermarkt.com/')[1].split('/')[3] 
        clubs.append(name)
        ids.append(id) 
        seasons.append(year)
      
        #tranfer table 
        page=requests.get(link,headers=headers)
        soup = BeautifulSoup(page.content, 'html.parser') 
        transfer_record_box=soup.find_all('div', attrs={'data-viewport':'Transferbilanz'})[0] 
        income_td=transfer_record_box.find('table').find('tbody').find('tr',attrs={'class':'transfer-record__revenue'})
        income_arrival=income_td.find('td',attrs={'class':'zentriert test-class transfer-record__text'}).text
        income_arrivals.append(income_arrival)

        income=income_td.find('td',attrs={'class':'transfer-record__total transfer-record__total--positive'}).text.split('\n')[1].rstrip().lstrip()
        incomes.append(income) 


        expend_td=transfer_record_box.find('table').find('tbody').find('tr',attrs={'class':'transfer-record__expenses'})
        expend_arrival=expend_td.find('td',attrs={'class':'zentriert transfer-record__text'}).text 
        expend_arrivals.append(expend_arrival)


        expend=expend_td.find('td',attrs={'class':'transfer-record__total transfer-record__total--negative'}).text.split('\n')[1]
        expends.append(expend)
        try:
            overall_td=transfer_record_box.find('table').find('tfoot').find('tr').find('td',attrs={'class':'redtext rechts transfer-record__total'}).text.replace('\n','')
        except:
            overall_td=transfer_record_box.find('table').find('tfoot').find('tr').find('td',attrs={'greentext rechts transfer-record__total'}).text.rstrip().lstrip().replace('+','')
        overall_balance.append(overall_td)

In [109]:
len(overall_balance)

140

In [110]:
len(incomes)

140

In [111]:
len(expends)

140

In [112]:
len(expend_arrivals)

140

In [113]:
clubs_id={}
clubs_id['Club']=clubs
clubs_id['id']=ids
clubs_id['Season']=seasons
clubs_id['income']=incomes 
clubs_id['expend']=expends
clubs_id['overall_balance']=overall_balance
clubs_id['income_arrival']=income_arrivals
clubs_id['expend_arrival']=expend_arrivals
df=pd.DataFrame(data=clubs_id) 
df.shape

(140, 8)

In [114]:
df

,Club,id,Season,income,expend,overall_balance,income_arrival,expend_arrival
0,Chelsea FC,631,2015,€87.49m,€96.50m,€-9.01m,32,37
1,Manchester City,281,2015,€67.44m,€208.47m,€-141.03m,23,20
2,Arsenal FC,11,2015,€2.50m,€26.50m,€-24.00m,11,13
3,Manchester United,985,2015,€100.67m,€156.00m,€-55.33m,20,22
4,Liverpool FC,31,2015,€90.55m,€126.50m,€-35.95m,24,23
...,...,...,...,...,...,...,...,...
135,Brentford FC,1148,2021,€1.00m,€36.70m,€-35.70m,13,17
136,Crystal Palace,873,2021,0,€85.62m,€-85.62m,15,11
137,Norwich City,1123,2021,€38.40m,€63.55m,€-25.15m,27,30
138,Watford FC,1010,2021,€12.85m,€43.50m,€-30.65m,27,28
139,Burnley FC,1132,2021,€40.50m,€49.40m,€-8.90m,6,8